<table id="example" class="table table-striped table-bordered second" style="width:100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Phone</th>
            <th>Length</th>
            <th>Recording</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        {%- for p in data.media -%}
        <tr>
            <td>{{p.createdate}}</td>
            <td>{{p.phone}}</td>
            <td>{{p.length}}</td>
            <td>{{p.media}}</td>
            <td>
                <button class="btn btn-sm btn-primary">
                    <i class="fa fa-fw fa-trash"></i>
                </button>
            </td>
        </tr>
        {%- endfor -%}
    </tbody>
    <tfoot>
        <tr>
            <th>Date</th>
            <th>Phone</th>
            <th>Length</th>
            <th>Recording</th>
            <th>Admin</th>
        </tr>
    </tfoot>
</table>