<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">

                    <li class="nav-divider">Menu</li>

                    <li class="nav-item ">
                        <a class="nav-link active" href="/dashboard">
                            <i class="fas a-fw fa-tachometer-alt"></i>Dashboard
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/cdrdata">
                            <i class="fa fa-fw fa-phone"></i>Calls
                        </a>
                    </li>

                    <li class="nav-divider">Media</li>

                    <li class="nav-item">
                        <a class="nav-link" href="/recordings">
                            <i class="fas fa-fw fa-microphone"></i> Recordings
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/prompts">
                            <i class="fas fa-fw fa-music"></i>Prompts
                        </a>
                    </li>

                    <li class="nav-divider">Admin</li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-admin" aria-controls="submenu-2"><i class="fa fa-fw fa-shield-alt"></i>Security</a>
                        <div id="submenu-admin" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#!">
                                        <i class="fas fa-fw fa-users"></i>Users
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/security">
                                        <i class="fas fa-fw fa-mobile"></i>Calls
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/accessweb">
                                        <i class="fas fa-fw fa-link"></i>Web
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--li class="nav-item ">
                        <a class="nav-link" href="#!">
                            <i class="fas fa-fw fa-users"></i>Users
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/security">
                            <i class="fas fa-fw fa-shield-alt"></i> Security
                        </a>
                    </li-->

                </ul>
            </div>
        </nav>
    </div>
</div>